.megasreda-editor-toolbox {
  position: absolute;
  visibility: hidden;
  transition: opacity 100ms ease;
  will-change: opacity;
  display: flex;
  flex-direction: column;
  list-style: none !important;
  padding: 0.5rem !important;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

  @media (--mobile) {
    position: static;
    transform: none !important;
    align-items: center;
    overflow-x: auto;
  }

  &--opened {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    @apply --toolbox-button;
    display: flex;
    align-items: center;
    svg {
      flex-shrink: 0;
      width: 2.5rem;
    }
  }
}
.megasreda-editor-toolbox__button-element {
  width: 100%;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}
.megasreda-editor-toolbox__button-title {
  margin-left: 0.5rem;
}
.megasreda-editor-toolbox-button-tooltip {
  &__shortcut {
    opacity: 0.6;
    word-spacing: -3px;
    margin-top: 3px;
  }
}

/**
 * Styles for Narrow mode
 */
.megasreda-editor--narrow .megasreda-editor-toolbox {
  @media (--not-mobile) {
    background: #fff;
    z-index: 2;
  }
}
