.megasreda-editor-toolbox {
  position: absolute;
  visibility: hidden;
  transition: opacity 100ms ease;
  will-change: opacity;
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (--mobile) {
    position: static;
    transform: none !important;
    align-items: center;
    overflow-x: auto;
  }

  &--opened {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    @apply --toolbox-button;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    svg {
      flex-shrink: 0;
      margin-right: 0.5rem;
      width: 2.5rem;
    }
  }

  &__button:last-child {
    margin-bottom: 0;
  }
}
.megasreda-editor-toolbox__button-element {
  width: 100%;
}

.megasreda-editor-toolbox-button-tooltip {
  &__shortcut {
    opacity: 0.6;
    word-spacing: -3px;
    margin-top: 3px;
  }
}

/**
 * Styles for Narrow mode
 */
.megasreda-editor--narrow .megasreda-editor-toolbox {
  @media (--not-mobile) {
    background: #fff;
    z-index: 2;
  }
}
